*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    scroll-behavior: smooth;
    transition: all .4 linear;
}

@keyframes fadeInDown{
    from{opacity:0;transform: translateY(-50px);}
    to{opacity:1;transform:translateY(0px)}
}

.animFadeInDown{
    animation-name: fadeInDown;
    animation-delay: .1s;
    animation-duration: 1.3s;
    animation-fill-mode: forwards;
}

header{
    position:fixed;
    top:0;
    left:0;
    right: 0;
    width: 100%;
    max-width: 100%;
    padding: 15px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:rgb(255, 255, 255);
    z-index:3;
    border-width:.5px;
    box-shadow: 0px 0px 10px black;
}


header ul {
    position: relative;
    display: flex;
}

header .logo{
    color: red;
    font-weight: 500;
    font-size: 3em;
    font-family: 'Bebas Neue', cursive;
}

.dropbtn {
    background-color: rgb(116, 172, 46);
    border-width:.5px;
    box-shadow: 0px 0px 3px rgb(5, 5, 5);
    color: white;
    margin-right: 0px;
    padding:8px 22px;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 3em;
    font-weight: bold;
}
  
.dropdown {
    position: relative;
    display: inline;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 180px;
    box-shadow: 0 0 3px 0 black;
    border-radius: 1em;
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: bold;
}
  
.dropdown-content a:hover {
    color: rgb(255, 0, 0);
    font-weight: bolder;
}
  
.hovermenu:hover .dropdown-content {
    display: block;
    cursor: pointer;
}
  
.hovermenu:hover .dropbtn{
    background-color: rgba(31, 190, 25, 0.854);
    transition: .5s;
}

.dropdown-content a{
    color: black;
}

#arDown{
    width: 16px; 
    margin-left: 4px;
    margin-bottom: -1px;
}

/* Nav Menu Text*/
header button{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: .9em;
    font-weight: 600;
    margin: 0 35px;
}
a{
    text-decoration: none;
}
h1{
    
    color: rgb(0, 0, 0);
    margin:160px 0 30px 80px;
    font-size: 3em;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.box{
    margin: 5em;
    border: 5px solid rgb(2, 2, 2);
    width: 100%;
    margin-top: 10px;
}

form{
    font-size: 25px;
    color: rgb(0, 0, 0);
    padding:6rem;
}

.text{
    font-weight: bold;
    font-size: 1.3em;
}
  
form .inputBox{
    display: flexbox;
    justify-content: space-between;
    flex-wrap: wrap;    
}

.inputBox input{
    padding:.7rem;
    font-size: 1.5rem;
    text-transform: none;
    margin:1rem 0;
    width:35%;
    color: rgb(0, 0, 0);
}


.creditCard{
    width: 2em;
    display: inline;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

#paypalIMG{
    margin-left: 28px;
}

#CCN{
    font-weight: 300;
    background-image: url('Content Image/Card.png');
    background-size: 75px;
    background-position-y: center;
    background-position-x:right;
    background-repeat: no-repeat;
}

#month,#year{
    width: 30%;
    height: 5vh;
    font-size: 1em;
    padding-left: .5em;
}

.btn {
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid #000000;
    color: #000000;
    cursor: pointer;
    display: flex;
    font-size: 1.3rem;
    line-height: 1;
    margin: 25px 0 10px 0;
    padding: 1.2em 1.5em;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.btn:hover, .btn:focus {
    color: rgb(255, 255, 255);
    outline: 0;
    background-color: rgb(0, 0, 0);
    transition: ease-in-out .3s;
}

#reset{
    padding: 1em;
}



@media screen and (max-width:800px){ 
    header ul{
		display: none;
	}

	.burger{
		position: relative;
		margin-right: -30px;
		width: 30px;
		height: 30px;
		cursor: pointer;
		background: url(burgerMenu.png);
		background-position: center;
		background-size: 30px;
		background-repeat: no-repeat;
		z-index: 3;   
  } 

  .burger.active{
		position: fixed;
		left: 10px;
		background: url(closeBurgerMenu.png);
		background-size: 20px;
		background-position: center;
		background-repeat: no-repeat;
		animation: ease 1s;
  }  

  header ul.nav.active{
		position: fixed;
		top: 0;
		left: 0;
		width: 45%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background: linear-gradient(rgb(37, 35, 37),rgb(20, 20, 42),rgb(0, 0, 0));
		z-index:2;     
		background-repeat: no-repeat;
	} 

	header ul li a 
	{
		font-size: 1em;
		font-weight: 300; 
		line-height: 4em;     
		background-color: none;  
	} 

    p{
        color: white;
        font-size: 2em;
        text-align: center;
        margin-top: 0;
        margin-bottom: 30px;
    }

    form{
        font-size: 25px;
        color: white;
        padding:5rem;
    }
    
    
    .inputBox input{
        padding:.7rem;
        font-size: 1.5rem;
        text-transform: none;
        margin:1rem 0;
        width:100%;
        color: rgb(0, 0, 0);
        border:.2rem solid rgba(255, 255, 255, 0.992);
    }
    .btn {
        background-color: transparent;
        border: 2px solid #ffffff;
        color: #ffffff;
        cursor: pointer;
        font-size: .8em;
        line-height: 1;
        margin: 0px;
        width: 250px;
        padding: 1.2em 1em;
        text-decoration: none;
        text-align: center;
        text-transform: capitalize;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
    }
}
